# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.class
*fuse*

# Folders
build/*
target/*
bin/*

# Eclipse, IntelliJ project files
*.iml
.idea
*.project
*.settings
*.classpath

# Config files
/config*
/target/
